<!-- <div class="info" (keydown.enter)="print()" [formGroup]="persona">
  <input type="text" placeholder="Nombre" [(ngModel)]="persona.name" >
  <input type="text" placeholder="Apellido" [(ngModel)]="persona.apellido">
  <input type="email" placeholder="email" [(ngModel)]="persona.email">

  <button type="button" (click)="print()">Enviar</button>
</div> -->
<div class="info" (keydown.enter)="print()" [formGroup]="persona">
  <input type="text" placeholder="Nombre" formControlName="name">
  <input type="text" placeholder="Apellido" formControlName="apellido">
  <input type="email" placeholder="email" formControlName="email">

  <button type="button" (click)="print()">Enviar</button>
</div>