<h3>Editar persona</h3>
<form [formGroup]="form">
  <div class="container">
    <label for="">Nombre</label>
    <input
      type="text"
      placeholder="Digite el nombre"
      formControlName="nombre"
    />
    <label for="">Apellido</label>
    <input
      type="text"
      placeholder="Digite el apellido"
      formControlName="apellido"
    />
    <label for="">Email</label>
    <input
      type="email"
      placeholder="Digite el correo"
      formControlName="email"
    />
    <button type="button" mat-button matDialogClose (click)="closePopUp()">
      Finalizar
    </button>
  </div>
</form>
